<style>

    div:where(.swal2-container) div:where(.swal2-popup){
        background-image: url('../img/fondo9.jpg'); background-repeat: no-repeat; background-size: cover;  background-position: center !important;   
    }

    .drop-container {
      position: relative;
      display: flex;
      gap: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 200px;
      padding: 20px;
      border-radius: 10px;
      border: 2px dashed #555;
      color: #444;
      cursor: pointer;
      transition: background .2s ease-in-out, border .2s ease-in-out;
    }
    
    .drop-container:hover {
      background: #eee;
      border-color: #111;
    }
    
    .drop-container:hover .drop-title {
      color: #222;
    }
    
    .drop-title {
      color: #444;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      transition: color .2s ease-in-out;
    }

    .imgPerfil{
        width: 85px;
        height: 85px;
    }
    .imgPerfil:hover{
        cursor: pointer;
        border: #FFF solid 3px;
    }

    .imgPerfilSeleccionada{
        border: #0dc23a solid 3px !important;
    }

    .imgPerfilPreview{
        width: 100%;
        max-width: 200px;
        height: 100%;
        max-height: 200px;
        border-radius: 50%;
        box-shadow : 0 0 20px rgba(20, 187, 131, 0.637);
    }
    
    </style>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="card " style="background: #28303f; color: #FFF;">
                        <div class="card-header ">
                            <div class="row">
    
                                <div class="col-md-10">
                                    <h5 >Editar información personal</h5>
                                </div>
                            </div>
                        </div>
    
                        <div class="card-body">
                            <div class="row p-2">
                                
    
                                <div class="input-group mb-3">
                                    <span style="background-color: #1c222b; border-color: #151b27;" class="input-group-text" id="nombre_equipo"><i class="fas fa-heart"></i></span>
                                    <input disabled id="tvNombreEdit" style="background-color: #1c222b; border-color: #151b27;" type="text" class="form-control" placeholder="Nombre de usuario" aria-describedby="nombre">
                                </div>

                                <div class="input-group mb-3">
                                    <span style="background-color: #1c222b; border-color: #151b27;" class="input-group-text" id="nombre_equipo"><i class="fas fa-user-circle"></i></span>
                                    <input id="tvBtEdit" style="background-color: #1c222b; border-color: #151b27;" type="text" class="form-control" placeholder="Battletag (case sensitive)" aria-describedby="bt">
                                </div>
    
                                <div class="input-group mb-3">
                                    <span style="background-color: #1c222b; border-color: #151b27;" class="input-group-text" id="tw_equipo"><i class="fab fa-twitter"></i></span>
                                    <input id="tvTwEdit" style="background-color: #1c222b; border-color: #151b27;" type="text" class="form-control" placeholder="Twitter" aria-describedby="tw_equipo">
                                </div>
    
                                <div class="input-group mb-3">
                                    <span style="background-color: #1c222b; border-color: #151b27;" class="input-group-text" id="fb_equipo"><i class="fab fa-twitch"></i></span>
                                    <input id="tvTiEdit" style="background-color: #1c222b; border-color: #151b27;" type="text" class="form-control" placeholder="Twitch" aria-describedby="ti_equipo">
                                </div>
    
                            </div>

                            <div class="col-md-12">
                                <h5 >Selecciona imagen de perfil</h5>


                                <div class="row">
                                    <div id="divFotosPerfil" class="col-md-8 text-center mb-5">

                                    </div>

                                    <div id="divSeleccionada" class="col-md-4 text-center">

                                    </div>
                                </div>
                                


                            </div>
                            
                            <div class="row mt-5">
                                <div class="col-md-12 text-center">
                                    <button id="btnEdit" type="button" class="btn btn-primary">Actualizar <i class="fab fa-steam-symbol"></i></button>
                                </div>
                                
                            </div>
                            
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
    
    function showPreview(event){
      if(event.target.files.length > 0){
        var src = URL.createObjectURL(event.target.files[0]);
        var preview = document.getElementById("file-ip-1-preview");
        preview.src = src;
        preview.style.display = "block";
      }
    }

    function getFotosPerfil(){
        
        let data = {
            "function": "getFotosPerfil"
        };

        $.ajax({
            url: 'models/funciones.php',
            type: 'POST',
            data: data,
            dataType: 'JSON',
            success: function(resp) {

                console.log(resp);

                var fotos = "";
                for(var i = 0; i < resp.data.length; i++){

                    var imagen = resp.data[i];
                    fotos += `
                    
                        <img data-nombre="${imagen.nombre}" class="imgPerfil" src="assets/images/perfil/${imagen.nombre}" />

                    `;

                }
                
                $('#divFotosPerfil').html(fotos);
            },
            error:function(xhr, ajaxOptions, thrownError){
                console.log(xhr);
            }
    
        });
    }
    getFotosPerfil();


    $('body').off('click', '.imgPerfil').on('click', '.imgPerfil', function(){


        var imagen = $(this).data("nombre");

        $('.imgPerfil').removeClass('imgPerfilSeleccionada');
        $(this).addClass('imgPerfilSeleccionada');



        var url = `
            <img class="imgPerfilPreview" src="assets/images/perfil/${imagen}" />
        `;

        $('#divSeleccionada').html(url);
    });

    function getInfo(){


        let data = {
            "function": "getDatosPerfil"
        };

        $.ajax({
            url: 'models/funciones.php',
            type: 'POST',
            data: data,
            dataType: 'JSON',
            success: function(resp) {

                console.log(resp);
                
                if(resp.status == 1){

                    $('#tvNombreEdit').val(resp.data[0].usuario);
                    $('#tvBtEdit').val(resp.data[0].battlenet);
                    $('#tvTwEdit').val(resp.data[0].twitter);
                    $('#tvTiEdit').val(resp.data[0].twitch);

                    var url = `
                        <img class="imgPerfilPreview" src="${resp.data[0].perfil}" />
                    `;

                    $('#divSeleccionada').html(url);

                    /*$('#file-ip-1-preview').attr("src", "rivals/"+resp.data[0].logo);
                    $('#file-ip-1-preview').show();
                    $('#plataformaEdit').val(resp.data[0].plataforma);*/

    
                }else{
    
                    Swal.fire({
                        html: `
                        <img src="../img/meierror.png" class="img-fluid" width="120" height="220" >
                        <h1  style="font-family: 'Ow', sans-serif;">${resp.msg}</h1>
                        <br><br><br>
                        `,
                        width: "800px"
                    });
    
                }
            },
            error:function(xhr, ajaxOptions, thrownError){
                console.log(xhr);
            }
    
        });

    }
    getInfo();

    function getPerfilOw(battletag){

        showCargandoDialog();

        var bt = battletag.replace("#", "-");

        $.ajax({
            url: `https://owapi.io/profile/pc/us/${bt}`,
            type: 'GET',
            dataType: 'JSON',
        }).done(response => {

            
            /*if(response.message == "Error: Profile not found"){
                
                showMessage("Battletag inválido");

            }else{*/
                var bt = $('#tvBtEdit').val();
                var tw = $('#tvTwEdit').val();
                var ttv = $('#tvTiEdit').val();
                
                var imgPerfil = "";
                if($('.imgPerfilPreview').length){
                    imgPerfil = $('.imgPerfilPreview').attr('src');
                }

                let data = {
                    "tw": tw,
                    "bt": bt,
                    "ttv": ttv,
                    "img": imgPerfil,
                    "function": "updtPerfil"
                };
            
                $.ajax({
                    url: 'models/funciones.php',
                    type: 'POST',
                    data: data,
                    dataType: 'JSON',
                    success: function(resp) {

                        showMessage(resp.msg);
                        
                        if(resp.status == 1){

                            setInterval(function () {
                                location.reload();
                            }, 2500);
            
                        }
                    },
                    error:function(xhr, ajaxOptions, thrownError){
                        console.log(xhr);
                    }
            
                });
            //}


        }).fail((err, text, thr) => {

            showMessage("API de obtención de perfil de OW no disponible, intenta en unos minutos por favor");

            console.log(err, text, thr);
        });

        }
    
    
    $('#btnEdit').on('click', function(){

        var bt = $('#tvBtEdit').val();
        getPerfilOw(bt);

    });
    
    
    function showCargandoDialog(){

        Swal.fire({
            html:`
                <img src="../img/cargando.gif" class="img-responsive" width="250" height="250" >
                <h1 style="margin-top: 20px; text-shadow: .1em .1em 0 hsl(200 50% 30%); color: hsl(200 50% 90%); font-size: 24px; font-weight: 900; line-height: 1.1;  font-family: 'Ow', cursive;">Cargando...</h1>
            `,
            showCloseButton: false,
            showCancelButton: false,
            showConfirmButton: false,
            focusConfirm: false,
            allowOutsideClick: false
           
        });
    }

    function showMessage(msg){
        Swal.fire({
            html:`
                <img width="120" height="120" src="../img/logo-rivals.png"></img>
                <h1 style="margin-top: 20px; text-shadow: .1em .1em 0 hsl(200 50% 30%); color: hsl(200 50% 90%); font-size: 24px; font-weight: 900; line-height: 1.1;  font-family: 'Ow', cursive;">${msg}</h1>

                <button style="font-size: 20px;" width="100" type="button" class="btn btn-outline-light mt-5 btnCloseMsg">Aceptar</button>
                
            `,
            showCloseButton: false,
            showCancelButton: false,
            showConfirmButton: false,
            focusConfirm: false
           
        });
    }

    $('body').on('click', '.btnCloseMsg', function(){
        Swal.close();
    });
    
    </script>