<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="content">
                <div class="card " style="background: #28303f; color: #FFF;">
                    <div class="card-header ">
                        <div class="row">

                            <div class="col-md-12">
                                <h5 >Preguntas frecuentes</h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                                
                            <h3 style="color: #ef6c00; font-family: 'Ow';"><span style="color: #f7f7f7;">¿ </span>Cómo crear un equipo<span style="color: #f7f7f7;"> ?</span></h3>

                            <p style="color: #f7f7f7; font-family: 'Franklin Gothic Medium'; text-align: justify; font-size: 16px;">En el menú lateral izquierdo selecciona la opción "Mis equipos", una vez seleccionado se te mostrará un botón en color rojo con la leyenda "Crear equipo", a continuación deberás rellenar el formulario mostrado. Los datos obligatorios que debes de llenar son: Nombre de equipo, Plataforma del equipo, Logo del equipo.
                            Cuando hayas rellenado los datos deseados selecciona el botón "Crear equipo" que se ubica en la parte inferior central de la pantalla</p>

                            <h3 style="color: #ef6c00; font-family: 'Ow';"><span style="color: #f7f7f7;">¿ </span>Cómo invitar jugadores a mi equipo<span style="color: #f7f7f7;"> ?</span></h3>

                            <p style="color: #f7f7f7; font-family: 'Franklin Gothic Medium'; text-align: justify; font-size: 16px;">Para invitar jugadores para pertenecer al roster de un equipo, debes dirigirte a la sección "Mis equipos", para poder invitar a jugadores a tu equipo debes ser el dueño/creador/capitán del mismo, podrás identificar esto en el listado de tus equipos con un botón color verde en la parte superior derecha de un equipo en el listado. A continuación da click en el mismo y selecciona la opción "Administrar", esto te llevará al perfil del equipo el cual en la parte superior derecha de la portada se localiza el botón "Enviar invitación". Cuando hayas seleccioando este, se te mostrará un mini formulario donde deberás ingresar el nombre de usuario dentro de la plataforma o su Battletag asociado, cuando lo hayas ingresado se te mostrará la lista de coincidencias. A continuación localiza el jugador que deseas invitar a tu equipo y selecciona el botón "Invitar". </p>
                            
                            <h3 style="color: #ef6c00; font-family: 'Ow';"><span style="color: #f7f7f7;">¿ </span>Cómo eliminar a un jugador de mi equipo<span style="color: #f7f7f7;"> ?</span></h3>

                            <p style="color: #f7f7f7; font-family: 'Franklin Gothic Medium'; text-align: justify; font-size: 16px;">Para invitar jugadores para pertenecer al roster de un equipo, debes dirigirte a la sección "Mis equipos", para poder invitar a jugadores a tu equipo debes ser el dueño/creador/capitán del mismo, podrás identificar esto en el listado de tus equipos con un botón color verde en la parte superior derecha de un equipo en el listado. A continuación da click en el mismo y selecciona la opción "Administrar", esto te llevará al perfil del equipo en donde podrás ver el ilstado de jugadores que pertenecen a él. Para eliminar a un jugador, dirígete al listado y localiza al jugador deseado y selecciona el botón "Eliminar" </p>



                            <h3 style="color: #ef6c00; font-family: 'Ow';"><span style="color: #f7f7f7;">¿ </span>Cómo inscribir a mi equipo a un torneo<span style="color: #f7f7f7;"> ?</span></h3>

                            <p style="color: #f7f7f7; font-family: 'Franklin Gothic Medium'; text-align: justify; font-size: 16px;">En el menú lateral izquierdo selecciona la opción "Inicio", si hay torneos disponibles por iniciar y con inscripciones abiertas, selecciona el botón "Inscribirse" del torneo al que desees inscribir a un equipo. Una vez hecho, se mostrará el listado de equipos disponibles que puedes inscribir. Recuerda que únicamente el dueño/creador/Capitán del equipo podrá realizar la inscripción del equipo, selecciona el equipo deseado para participar en el torneo y a continuación se mostrará el Roster que será inscrito en caso de estar de acuerdo selecciona el biotón "Inscribir equipo"</p>

                        </div>
                    </div>
                    
                    <div class="card-footer ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>